@import './quasar.variables.scss';
@import '~quasar-styl';
@import './global.scss';
// @import '~quasar-addon-styl';

 @import './login.scss';
 @import './layout.scss';
// @import './side_menu.scss';


